@use '../styles/colors' as *;
@use '../components/Header/Header';
@use '../components/Navbar/Navbar';
@use '../components/Footer/Footer';
@use '../components/Slider/Slider';
@use '../components/ProductCard/ProductCard';
@use '../components/Sort/Sort';
@use '../components/Pagination/Pagination';
@use '../components/Loader/Loader';
@use '../pages/HomePage/HomePage';
@use '../pages/PhonesPage/PhonesPage';
@use '../pages/ProductDetails/ProductDetailsPage';
@use '../pages/CartPage/CartPage';
@use '../pages/ContactsPage/ContactsPage';
@use './top-bar';
@use './icon';
@use './logos';
@use './pages';
@use './fonts';

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

// #root {
//   height: 100%;
// }

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
  }
}

h1 {
  color: color(gray-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  padding: 0;
}
